<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
          </div>
          <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
            class="help-block">Please enter your username</span>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
          </div>
          <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
          class="help-block">Please enter a valid email address</span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>

        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <!-- <div class="form-group" *ngFor="let hobby of signupForm.get('hobbies').control"> -->
          <button class="btn btn-primary" type="button" (click)="onAddHobbie()">Add Hobby</button>
          <div class="form-group" *ngFor="let hobby of getControls(); let i = index">

            <input type="text" class="form-control" [formControlName]="i">
            <span class="help-block form-info" *ngIf="!hobby.valid">Write that damn hobby name, will ya?</span>

          </div>
        </div>
        <br>
        <span *ngIf="!signupForm.valid && signupForm.touched"
        class="help-block">You ain't finished yet breda 💆🏾‍♂️</span>

        <span *ngIf="signupForm.valid && signupForm.dirty"
        class="help-block form-ok">Form Ok!</span>

        <button
          [disabled]="signupForm.invalid"
          class="btn btn-success"
          type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>
